{%extends 'learning_logs/base.html'%}
{%load bootstrap3%}
{%block header%}
<h3>标题: {{topic.text}}</h3>
{%endblock%}
{%block content%}
<p>
    <a href="{%url 'learning_logs:new_entry' topic.id%}" class="btn btn-primary btn-sm">添加笔记</a>
</p>
<ul>
    {%for entry in entries%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{entry.date_added|date:'M d,Y H:i'}}
                <small>
                    <a href="{%url 'learning_logs:edit_entry' entry.id%}" class="btn btn-default btn-xs">编辑笔记</a>
                    <a href="{%url 'learning_logs:delete_entry' entry.id%}" class="btn btn-danger btn-xs">删除笔记</a>
                </small>
            </h4>
        </div>
        <div class="panel-body">
            <!--linebreaks将包含换行符的长条目转换为浏览器能够理解的格式，以免显示为一个不间断的文本块-->
            {{entry.text|linebreaks}}
        </div>
    </div>
    {%empty%}
    <li style="font-size: 17px;">
        There no notes for this topic yet.
    </li>
    {%endfor%}
</ul>
{%endblock content%}