{%extends 'learning_logs/base.html'%}
{%load bootstrap3%}
{%block header%}
<h3>
    设置新密码.
</h3>
{%endblock header%}

{%block content%}
<form method="post" class="form">
    {%csrf_token%}
    <!--模板bootstrap_form将Bootstrap样式规则应用于各个表单-->
    {%bootstrap_form form%}
    <div>
        <!--{%buttons%}-->
        <button name="submit" class="btn btn-primary">提交</button>
        <!--{%endbuttons%}-->
    </div>
    <!--用户设置成功后重定向到设置成功页面-->
    <input type="hidden" name="next" value="{%url 'users:password_reset_complete'%}">
</form>
{%endblock content%}