{%extends 'learning_logs/base.html'%}
{%load bootstrap3%}
{%block header%}
<h3>
    重置密码.
</h3>
{%endblock header%}

{%block content%}
<form action="{%url 'users:password_reset'%}" method="post" class="form">
    {%csrf_token%}
    <!--模板bootstrap_form将Bootstrap样式规则应用于各个表单-->
    {%bootstrap_form form%}
    <div>
        <!--{%buttons%}-->
        <button name="submit" class="btn btn-primary">提交</button>
        <!--{%endbuttons%}-->
    </div>
    <!--重定向到发送链接成功页面-->
    <input type="hidden" name="next" value="{%url 'users:password_change_done'%}">
</form>
{%endblock content%}